
<app-header></app-header>
<h1 class="card-title" style="text-align: center;">FAVORITOS</h1>
<div style="max-width: 500 "  >
    <div class="card-body" style="text-align: center; margin-right: 100px;">
       
      
      <div class="my-2 text-left">

        <img src="https://cdn-icons.flaticon.com/png/512/3161/premium/3161590.png?token=exp=1649198699~hmac=ca38e0029724b4257349a2596a369eff" alt="" width="200" height="200"style=" margin-left: 75px;" type="button" [routerLink]="['/favoritos/crformfv']">
        <img src="https://cdn-icons.flaticon.com/png/512/1390/premium/1390006.png?token=exp=1649198756~hmac=72b49ef648f0190b18b73c9ea2b7e871" alt=""width="200" height="200"style="margin-left: 75px;" type="button" [routerLink]="['/favoritos/edformfv']">
        <img src="https://cdn-icons-png.flaticon.com/128/0/172.png" alt=""width="200" height="200"style=" margin-left: 75px;" type="button" [routerLink]="['/favoritos/elformfv']">
        <img src="https://cdn-icons-png.flaticon.com/128/4658/4658831.png" alt="" width="200" height="200"style="margin-left: 75px;" type="button" [routerLink]="['/favoritos/listformfv']">
      </div>
    