
<app-header></app-header>
<h1 class="card-title" style="text-align: center;">PRODUCTOS</h1>
<div style="max-width: 500 "  >
    <div class="card-body" style="text-align: center;margin-right: 100px;">
       
      
      <div class="my-2 text-left">

        <img src="https://cdn-icons-png.flaticon.com/512/7032/7032300.png" alt="" width="200" height="200"style=" margin-left: 75px;" type="button" [routerLink]="['/productos/crformpro']">
        <img src="https://cdn-icons-png.flaticon.com/512/7023/7023163.png" alt=""width="200" height="200"style="margin-left: 75px;" type="button" [routerLink]="['/productos/edformpro']">
        <img src="https://cdn-icons-png.flaticon.com/128/7032/7032349.png" alt=""width="200" height="200"style=" margin-left: 75px;" type="button" [routerLink]="['/productos/elformpro']">
        <img src="https://cdn-icons-png.flaticon.com/512/2125/2125352.png" alt="" width="200" height="200"style="margin-left: 75px;" type="button" [routerLink]="['/productos/listform']">
      </div>
    