
<app-header></app-header>
<h1 class="card-title" style="text-align: center;">SUB-CATEGORIA</h1>
<div style="max-width: 500 "  >
    <div class="card-body" style="text-align: center;margin-right: 100px;">
       
      
      <div class="my-2 text-left">

        <img src="https://cdn-icons-png.flaticon.com/128/1250/1250616.png" alt="" width="200" height="200"style=" margin-left: 75px;" type="button" [routerLink]="['/subcategoria/crformsub']">
        <img src="https://cdn-icons-png.flaticon.com/512/6270/6270432.png" alt=""width="200" height="200"style="margin-left: 75px;" type="button" [routerLink]="['/subcategoria/edformsub']">
        <img src="https://cdn-icons-png.flaticon.com/128/216/216658.png" alt=""width="200" height="200"style=" margin-left: 75px;" type="button" [routerLink]="['/subcategoria/elformsub']">
        <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" alt="" width="200" height="200"style="margin-left: 75px;" type="button" [routerLink]="['/subcategoria/listformsub']">
      </div>
    