
<app-header></app-header>
<h1 style="text-align: center;">REPORTERIA</h1>
<table class="table table-bordered table-striped"  >
    <thead >
        <tr >
            <th>id</th>
            <th>cedula</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>nombrePro</th>
            <th>id_fav</th>
            <th>nombreCat</th>
            <th>foto</th>

           
        </tr>
    </thead>
    <tbody >
        <tr *ngFor = "let reporteria of reporterias"  >
            <td class="list-group-item-action" >{{reporteria.id_reporteria}}</td>
            <td class="list-group-item-action" >{{reporteria.cedula}}</td>
            <td class="list-group-item-action" >{{reporteria.nombre_cliente}}</td>
            <td class="list-group-item-action" >{{reporteria.apellido_cliente}}</td>
            <td class="list-group-item-action" >{{reporteria.nombrePro}}</td>
            <td class="list-group-item-action" >{{reporteria.id_fav}}</td>
            <td class="list-group-item-action" >{{reporteria.nombreCat}}</td>       
            <td class="list-group-item-action" ><img src= {{reporteria.foto}} alt="" width="300" height="200"></td>
  
            
           
        </tr>
    </tbody>
</table>
<div class="form-group row"> 
    <div class="col-sm-6">
        <button class="btn btn-rounded btn-primary" style="margin-right:10px" type="button" [routerLink]="['/reporteria']">ATRAS</button>
    </div>
</div>
