
<app-header></app-header>
<h1 class="card-title" style="text-align: center;">ADMIN</h1>
<div style="max-width: 500 "  >
    <div class="card-body" style="text-align: center;margin-right: 100px;">
       
      
      <div class="my-2 text-left">

        <img src="https://cdn-icons.flaticon.com/png/512/863/premium/863823.png?token=exp=1649197666~hmac=6aa45204ef265472f794ef66d45acf28" alt="" width="200" height="200"style=" margin-left: 75px;" type="button" [routerLink]="['/administrador/cr']">
        <img src="https://cdn-icons-png.flaticon.com/512/3076/3076687.png" alt="" width="200" height="200"style="margin-left: 75px;" type="button" [routerLink]="['/administrador/listformad']">
      </div>
    